<a href="https://colab.research.google.com/github/2303a51885/B2_PFDS_1885/blob/main/PFDS_LAB05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David']
})

df2 = pd.DataFrame({
    'id': [3, 4, 5, 6],
    'age': [24, 25, 23, 22]
})

# Inner Join (only common IDs)
result = pd.merge(df1, df2, on='id', how='inner')
print(result)

   id     name  age
0   3  Charlie   24
1   4    David   25

In [2]:
result = pd.merge(df1, df2, on='id', how='left')
print(result)

   id     name   age
0   1    Alice   NaN
1   2      Bob   NaN
2   3  Charlie  24.0
3   4    David  25.0

In [3]:
result = pd.merge(df1, df2, on='id', how='right')
print(result)

   id     name  age
0   3  Charlie   24
1   4    David   25
2   5      NaN   23
3   6      NaN   22

In [4]:
result = pd.merge(df1, df2, on='id', how='outer')
print(result)

   id     name   age
0   1    Alice   NaN
1   2      Bob   NaN
2   3  Charlie  24.0
3   4    David  25.0
4   5      NaN  23.0
5   6      NaN  22.0

In [5]:
df3 = pd.DataFrame({
    'salary': [50000, 60000, 70000, 80000]
}, index=[1, 2, 3, 4])

# Join df1 with df3 on index
result = df1.join(df3, on='id')
print(result)

   id     name  salary
0   1    Alice   50000
1   2      Bob   60000
2   3  Charlie   70000
3   4    David   80000

In [7]:
import pandas as pd

# -------------------------------
# Step 1: Create Datasets
# -------------------------------

# Products dataset
products = pd.DataFrame({
    'product_id': [101, 102, 103, 104, 105],
    'product_name': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Printer'],
    'category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Electronics'],
    'price': [70000, 800, 1500, 12000, 9000]
})
print("Products Dataset:\n", products, "\n")

# Sales dataset
sales = pd.DataFrame({
    'sale_id': [1, 2, 3, 4, 5, 6, 7],
    'product_id': [101, 102, 103, 101, 105, 106, 104],  # 106 doesn't exist in Products
    'quantity': [2, 5, 3, 1, 4, 2, 1]
})
print("Sales Dataset:\n", sales, "\n")


inner = pd.merge(sales, products, on='product_id', how='inner')
print("Inner Join:\n", inner, "\n")

merged_outer = pd.merge(sales, products, on='product_id', how='outer')
print("Outer Join:\n", merged_outer, "\n")

inner['revenue'] = inner['quantity'] * inner['price']
print("Merged Dataset with Revenue:\n", inner, "\n")

# Total Revenue
total_revenue = inner['revenue'].sum()
print("Total Revenue:", total_revenue, "\n")

# Average Price of Products Sold
avg_price = inner['price'].mean()
print("Average Price of Sold Products:", avg_price, "\n")

# Product-wise Sales & Revenue
product_sales = inner.groupby('product_name').agg(
    total_quantity=('quantity', 'sum'),
    total_revenue=('revenue', 'sum')
).reset_index()
print("Product-wise Sales:\n", product_sales, "\n")

# Category-wise Sales & Revenue
category_sales = inner.groupby('category').agg(
    total_quantity=('quantity', 'sum'),
    total_revenue=('revenue', 'sum')
).reset_index()
print("Category-wise Sales:\n", category_sales, "\n")

# Best-Selling Category
best_category = category_sales.loc[category_sales['total_revenue'].idxmax()]
print("Best-Selling Category:", best_category['category'], "\n")

Products Dataset:
    product_id product_name     category  price
0         101       Laptop  Electronics  70000
1         102        Mouse  Accessories    800
2         103     Keyboard  Accessories   1500
3         104      Monitor  Electronics  12000
4         105      Printer  Electronics   9000

Sales Dataset:
    sale_id  product_id  quantity
0        1         101         2
1        2         102         5
2        3         103         3
3        4         101         1
4        5         105         4
5        6         106         2
6        7         104         1

Inner Join:
    sale_id  product_id  quantity product_name     category  price
0        1         101         2       Laptop  Electronics  70000
1        2         102         5        Mouse  Accessories    800
2        3         103         3     Keyboard  Accessories   1500
3        4         101         1       Laptop  Electronics  70000
4        5         105         4      Printer  Electronics   9000
5        7         104         1      Monitor  Electronics  12000

Outer Join:
    sale_id  product_id  quantity product_name     category    price
0        1         101         2       Laptop  Electronics  70000.0
1        4         101         1       Laptop  Electronics  70000.0
2        2         102         5        Mouse  Accessories    800.0
3        3         103         3     Keyboard  Accessories   1500.0
4        7         104         1      Monitor  Electronics  12000.0
5        5         105         4      Printer  Electronics   9000.0
6        6         106         2          NaN          NaN      NaN

Merged Dataset with Revenue:
    sale_id  product_id  quantity product_name     category  price  revenue
0        1         101         2       Laptop  Electronics  70000   140000
1        2         102         5        Mouse  Accessories    800     4000
2        3         103         3     Keyboard  Accessories   1500     4500
3        4         101         1       Laptop  Electronics  70000    70000
4        5         105         4      Printer  Electronics   9000    36000
5        7         104         1      Monitor  Electronics  12000    12000

Total Revenue: 266500

Average Price of Sold Products: 27216.666666666668

Product-wise Sales:
   product_name  total_quantity  total_revenue
0     Keyboard               3           4500
1       Laptop               3         210000
2      Monitor               1          12000
3        Mouse               5           4000
4      Printer               4          36000

Category-wise Sales:
       category  total_quantity  total_revenue
0  Accessories               8           8500
1  Electronics               8         258000

Best-Selling Category: Electronics

In [8]:
import pandas as pd

# -------------------------------
# Step 1: Create Datasets
# -------------------------------
teachers = pd.DataFrame({
    'teacher_id': [1, 2, 3, 4],
    'teacher_name': ['Alice', 'Bob', 'Charlie', 'David'],
    'department': ['Math', 'Science', 'Math', 'English']
})
print("Teachers Dataset:\n", teachers, "\n")

courses = pd.DataFrame({
    'course_id': [101, 102, 103, 104, 105, 106],
    'course_name': ['Algebra', 'Biology', 'Geometry', 'Physics', 'Literature', 'Calculus'],
    'teacher_id': [1, 2, 1, 2, 4, 1],   # Charlie has no course
    'credits': [3, 4, 3, 4, 2, 3]
})
print("Courses Dataset:\n", courses, "\n")


# -------------------------------
# Step 2: Merge Teachers & Courses
# -------------------------------
# Inner Join → only teachers with assigned courses
merged_inner = pd.merge(courses, teachers, on='teacher_id', how='inner')
print("Inner Join (teachers with courses):\n", merged_inner, "\n")

# Left Join → all teachers (shows who has no courses)
merged_left = pd.merge(teachers, courses, on='teacher_id', how='left')
print("Left Join (all teachers, even without courses):\n", merged_left, "\n")


# -------------------------------
# Step 3: Compute Statistics
# -------------------------------
# Average courses per teacher
course_count = courses.groupby('teacher_id')['course_id'].count()
avg_courses = course_count.mean()
print("Average Courses per Teacher:", avg_courses, "\n")

# Department-wise workload
dept_workload = merged_inner.groupby('department').agg(
    total_courses=('course_id', 'count'),
    total_credits=('credits', 'sum')
).reset_index()
print("Department-wise Workload:\n", dept_workload, "\n")

Teachers Dataset:
    teacher_id teacher_name department
0           1        Alice       Math
1           2          Bob    Science
2           3      Charlie       Math
3           4        David    English

Courses Dataset:
    course_id course_name  teacher_id  credits
0        101     Algebra           1        3
1        102     Biology           2        4
2        103    Geometry           1        3
3        104     Physics           2        4
4        105  Literature           4        2
5        106    Calculus           1        3

Inner Join (teachers with courses):
    course_id course_name  teacher_id  credits teacher_name department
0        101     Algebra           1        3        Alice       Math
1        102     Biology           2        4          Bob    Science
2        103    Geometry           1        3        Alice       Math
3        104     Physics           2        4          Bob    Science
4        105  Literature           4        2        David    English
5        106    Calculus           1        3        Alice       Math

Left Join (all teachers, even without courses):
    teacher_id teacher_name department  course_id course_name  credits
0           1        Alice       Math      101.0     Algebra      3.0
1           1        Alice       Math      103.0    Geometry      3.0
2           1        Alice       Math      106.0    Calculus      3.0
3           2          Bob    Science      102.0     Biology      4.0
4           2          Bob    Science      104.0     Physics      4.0
5           3      Charlie       Math        NaN         NaN      NaN
6           4        David    English      105.0  Literature      2.0

Average Courses per Teacher: 2.0

Department-wise Workload:
   department  total_courses  total_credits
0    English              1              2
1       Math              3              9
2    Science              2              8