<a href="https://colab.research.google.com/github/2303a51885/B2_PFDS_1885/blob/main/PFDS_LAB02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Use NumPy arrays to manage and analyze monthly temperature readings for a city.**

In [1]:
import numpy as np

temps_c = np.array([12.5, 15.2, 20.1, 25.3, 30.5, 35.0,
                    33.8, 32.1, 28.4, 22.0, 18.1, 14.3])

months = np.array([
    "Jan", "Feb", "Mar", "Apr", "May", "Jun",
    "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
])

avg_temp = np.mean(temps_c)
hottest_month = months[np.argmax(temps_c)]
coldest_month = months[np.argmin(temps_c)]

temps_norm = (temps_c - temps_c.min()) / (temps_c.max() - temps_c.min())


above_avg_months = months[temps_c > avg_temp]

temps_f = (temps_c * 9/5) + 32

print("Monthly Temperatures (°C):", temps_c)
print("Average Temperature (°C):", round(avg_temp, 2))
print("Hottest Month:", hottest_month, "->", temps_c.max(), "°C")
print("Coldest Month:", coldest_month, "->", temps_c.min(), "°C")
print("Normalized Temps:", np.round(temps_norm, 2))
print("Months above average:", above_avg_months)
print("Temperatures in Fahrenheit:", np.round(temps_f, 1))

Monthly Temperatures (°C): [12.5 15.2 20.1 25.3 30.5 35.  33.8 32.1 28.4 22.  18.1 14.3]
Average Temperature (°C): 23.94
Hottest Month: Jun -> 35.0 °C
Coldest Month: Jan -> 12.5 °C
Normalized Temps: [0.   0.12 0.34 0.57 0.8  1.   0.95 0.87 0.71 0.42 0.25 0.08]
Months above average: ['Apr' 'May' 'Jun' 'Jul' 'Aug' 'Sep']
Temperatures in Fahrenheit: [54.5 59.4 68.2 77.5 86.9 95.  92.8 89.8 83.1 71.6 64.6 57.7]

# **Simulate basic e-commerce sales data and manipulate it using pandas Data Frame.**

In [3]:
import pandas as pd

# ---------------- Simulate Data ----------------
data = {
    "OrderID": [101, 102, 103, 104, 105, 106, 107],
    "Product": ["Laptop", "Mobile", "Headphones", "Laptop", "Keyboard", "Mobile", "Laptop"],
    "Quantity": [1, 3, 5, 2, 4, 1, 1],
    "Price": [75000, 20000, 1500, 72000, 2000, 21000, 76000]
}

df = pd.DataFrame(data)

df["TotalSale"] = df["Quantity"] * df["Price"]

high_sales = df[df["TotalSale"] > 1000]

most_sold = df.groupby("Product")["Quantity"].sum().sort_values(ascending=False)

df["Discount"] = df["TotalSale"].apply(lambda x: x * 0.1 if x > 50000 else x * 0.05)

with pd.ExcelWriter("sales_summary.xlsx") as writer:
    df.to_excel(writer, sheet_name="SalesData", index=False)
    high_sales.to_excel(writer, sheet_name="HighValueOrders", index=False)
    most_sold.to_excel(writer, sheet_name="MostSoldProducts")

print("Original Sales Data:\n", df, "\n")
print("Orders with Total Sale > 1000:\n", high_sales, "\n")
print("Most Sold Products:\n", most_sold, "\n")
print("Summary exported to 'sales_summary.xlsx'")

Original Sales Data:
    OrderID     Product  Quantity  Price  TotalSale  Discount
0      101      Laptop         1  75000      75000    7500.0
1      102      Mobile         3  20000      60000    6000.0
2      103  Headphones         5   1500       7500     375.0
3      104      Laptop         2  72000     144000   14400.0
4      105    Keyboard         4   2000       8000     400.0
5      106      Mobile         1  21000      21000    1050.0
6      107      Laptop         1  76000      76000    7600.0

Orders with Total Sale > 1000:
    OrderID     Product  Quantity  Price  TotalSale
0      101      Laptop         1  75000      75000
1      102      Mobile         3  20000      60000
2      103  Headphones         5   1500       7500
3      104      Laptop         2  72000     144000
4      105    Keyboard         4   2000       8000
5      106      Mobile         1  21000      21000
6      107      Laptop         1  76000      76000

Most Sold Products:
 Product
Headphones    5
Keyboard      4
Laptop        4
Mobile        4
Name: Quantity, dtype: int64

Summary exported to 'sales_summary.xlsx'

In [2]:
import numpy as np
import pandas as pd
arr=[[100,50,60],[85,75,60],[70,80,90]]
arr=np.array(arr)
c=1
for i in arr:
  print("The avg marks,min and max marks of std ",c,sum(i)/len(i),min(i),max(i))
  c+=1

The avg marks,min and max marks of std  1 70.0 50 100
The avg marks,min and max marks of std  2 73.33333333333333 60 85
The avg marks,min and max marks of std  3 80.0 70 90

In [ ]:
print("The marks of std1 in subect 1",arr[0][0])

The marks of std1 in subect 1 100